.actions {
  &-button {
    padding: 0.1rem;
    box-sizing: content-box;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 10px;
    width: 16px;
    height: 16px;

    &:hover {
      color: #999;
      border-color: #999;
    }
  }
}
